@import 'reset.css';

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
}

.primary-header {
    margin-top: 2em;
    margin-bottom: 2em;
}

.title {
    font-size: 3em;
    text-align: center;
}

.list {
    margin-bottom: 1em;
}

.shopping-list li {
    position: relative;
    margin-bottom: .5em;
}

.shopping-list span {
    display:inline-block;
    width: 50%;
    font-size: 1.5em;
}

.completed span {
    text-decoration: line-through;
    color: #BDC3C7;
}

.list-control {
    display: inline-block;
    position: absolute;
    right: 0;
    top:0;
}

.list-control i {
    display: none;
}

.progress {
    border: solid 1px #ecf0f1;
    height: 2em;
}

.progress-bar {
    width: 40%;
    height: 100%;
    background-color: red;
}

.fa-check,
.fa-remove {
    margin-left: .2em;
}

.fa-check {
    color: #2ecc71;
}

.fa-remove {
    color: red;
}

.list-control,
.input-control i {
    cursor: pointer;
}

#js-focus {
    border: none;
    border-bottom: solid 1px #BDC3C7;
    margin-bottom: .5em;
    outline: none;
    font-size: 1.5em;;
}

@media (min-width: 340px) {
    body {
        width: 85%;
    }
}

@media (min-width: 430px) {
    body {
        width: 80%;
    }
}

@media (min-width: 500px) {
    body {
        width: 60%;
    }
}

@media (min-width: 800px) {
    body {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    body {
        width: 30%;
    }
}

@media (min-width: 1600px) {
    body {
        width: 25%;
    }
}

